.studentListWrppr {
    width: 100%;
    /* padding: 0 12px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.stdListTbleWrpr,
.clsStdListTbl {
    width: 100%;
}
.clsStdListTbl th,
.clsStdListTbl td {
    text-align: center;
    padding: 10px;
}
.clsStdListTbl td {
    font-size: 14px;
    font-weight: 500;
    color: gray;
}
.clsStdListTbl th {
    border-bottom: 1px solid #000;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}